{
  "env": {
    "dev": {
      "base_url": "http://localhost:8000",
      "db_name": "school_inv",
      "db_host": "0.0.0.0",
      "db_username": "root",
      "db_password": "mypass"
    },
    "prod": {
      "base_url": "https://skool.vmasdani.masuk.id",
      "db_name": "vmasdan3_adam",
      "db_host": "vmasdani.masuk.id",
      "db_username": "vmasdan3_vmasdani",
      "db_password": "Playstation4.,"
    }
  }
}
